.skin-lp .main-header .navbar {
    background-color: #e10717
}

.skin-lp .main-header .navbar .nav>li>a {
    color: #fff
}

.skin-lp .main-header .navbar .nav>li>a:hover,
.skin-lp .main-header .navbar .nav>li>a:active,
.skin-lp .main-header .navbar .nav>li>a:focus,
.skin-lp .main-header .navbar .nav .open>a,
.skin-lp .main-header .navbar .nav .open>a:hover,
.skin-lp .main-header .navbar .nav .open>a:focus {
    background: rgba(255, 255, 255, 0);
    color: #f6f6f6
}

.skin-lp .main-header .navbar .sidebar-toggle {
    color: #fff
}

.skin-lp .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1)
}

.skin-lp .main-header .navbar .sidebar-toggle {
    color: #fff
}

.skin-lp .main-header .navbar .sidebar-toggle:hover {
    background-color: #af0511
}

@media (max-width: 767px) {
    .skin-lp .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1)
    }
    .skin-lp .main-header .navbar .dropdown-menu li a {
        color: #fff
    }
    .skin-lp .main-header .navbar .dropdown-menu li a:hover {
        background: #af0511
    }
}

.skin-lp .main-header .logo {
    color: #fff;
    border-bottom: 0 solid transparent
}

.skin-lp .main-header .logo:hover {
    /*background-color: #008749*/
}

.skin-lp .main-header li.user-header {
    background-color: #e10717
}

.skin-lp .content-header {
    background: transparent
}

.skin-lp .wrapper,
.skin-lp .main-sidebar,
.skin-lp .left-side {
    background-color: #222d32
}

.skin-lp .user-panel>.info,
.skin-lp .user-panel>.info>a {
    color: #fff
}

.skin-lp .sidebar-menu>li.header {
    color: #4b646f;
    background: #1a2226
}

.skin-lp .sidebar-menu>li>a {
    border-left: 3px solid transparent
}

.skin-lp .sidebar-menu>li:hover>a,
.skin-lp .sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #e10717
}

.skin-lp .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #2c3b41
}

.skin-lp .sidebar a {
    color: #b8c7ce
}

.skin-lp .sidebar a:hover {
    text-decoration: none
}

.skin-lp .treeview-menu>li>a {
    color: #8aa4af
}

.skin-lp .treeview-menu>li.active>a,
.skin-lp .treeview-menu>li>a:hover {
    color: #fff
}

.skin-lp .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px
}

.skin-lp .sidebar-form input[type="text"],
.skin-lp .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.skin-lp .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 2px !important
}

.skin-lp .sidebar-form input[type="text"]:focus,
.skin-lp .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
    background-color: #fff;
    color: #666
}

.skin-lp .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
    border-left-color: #fff
}

.skin-lp .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-left-radius: 0 !important
}
